apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: default
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
    traefik: true
  settings.yaml: ""
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""
  services.yaml: |
    - Home Automation:
        - Home Assistant:
            href: "https://assistant.{{HOMEPAGE_VAR_BASE_DOMAIN}}"
            description: Home Automation Hub
            icon: si-homeassistant
            widget:
              type: homeassistant
              url: "http://hass.hass.svc.cluster.local:8123"
              key: "{{HOMEPAGE_VAR_HASS_TOKEN}}"
        - ESPHome:
            href: "https://esp.{{HOMEPAGE_VAR_BASE_DOMAIN}}"
            description: ESP32 Controllers
            icon: si-esphome
            widget:
              type: esphome
              url: http://esphome.hass.svc.cluster.local:6052
        - InfluxDB:
            href: "https://influxb.{{HOMEPAGE_VAR_BASE_DOMAIN}}"
            description: Long Term Statistics
            icon: si-influxdb
  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - resources:
        backend: resources
        expanded: true
        cpu: true
        memory: true
        network: default
    - search:
        provider: brave
        target: _blank
  docker.yaml: ""
