apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: esphome
  namespace: argocd
spec:
  destination:
    namespace: hass
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
  project: hass
  sources:
    - repoURL: https://github.com/h00lig4n/k3s.git
      path: esphome/base
      targetRevision: HEAD
    - repoURL: https://github.com/h00lig4n/k3s-private.git
      targetRevision: HEAD
      path: esphome/overlays/prod
  kustomize:
    resources:
      - $base
