# Need cross-namespace support for HTTPScaledObject
apiVersion: traefik.io/v1alpha1 # or traefik.containo.us/v1alpha1 depending on Traefik version
kind: IngressRoute
metadata:
  name: openwebui
  namespace: ai
  labels:
    app.kubernetes.io/component: gui
    app.kubernetes.io/name: ollama
    app.kubernetes.io/part-of: ai
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`ai.mydomain.com`)
      kind: Rule
      services:
        - name: keda-add-ons-http-interceptor-proxy
          namespace: keda
          port: 8080
  tls:
    secretName: tls-certificate
    domains:
      - main: ai.mydomain.com
        sans:
          - "*.mydomain.com"