config:
  issuer: https://auth-test.yourdomain

  storage:
    type: memory

  web:
    http: 0.0.0.0:5556

  oauth2:
    skipApprovalScreen: true

  connectors:
    - type: oidc
      id: google
      name: Google
      config:
        issuer: https://accounts.google.com
        clientID: REPLACEME
        clientSecret: $GOOGLE_CLIENT_SECRET
        redirectURI: https://auth-test.yourdomain/callback

    - type: ldap
      id: ldap
      name: LDAP
      config:
        host: lldap.auth-test.svc.cluster.local:389
        insecureNoSSL: true
        bindDN: "uid=admin,ou=people,dc=home,dc=mydomain,dc=nu"
        bindPW: ${LDAP_BIND_PASSWORD}

        userSearch:
          baseDN: "ou=people,dc=home,dc=mydomain,dc=nu"
          filter: "(mail={0})"
          username: uid
          idAttr: uid
          emailAttr: mail
          nameAttr: cn

        groupSearch:
          baseDN: "ou=groups,dc=home,dc=mydomain,dc=nu"
          filter: "(objectClass=groupOfNames)"
          userMatchers:
            - userAttr: DN
              groupAttr: member
          nameAttr: cn

  staticClients:
    - id: argocd
      redirectURIs:
        - https://argocd.yourdomain/auth/callback
      name: Argo CD
      secret: ${ARGOCD_CLIENT_SECRET}

envFrom:
  - secretRef:
      name: dex-secrets

resources:
  requests:
    cpu: 50m
    memory: 80Mi
  limits:
    cpu: 300m
    memory: 160Mi

service:
  type: ClusterIP
  ports:
    http:
      port: 80
      targetPort: 5556

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: auth-test.yourdomain
      paths:
        - path: /
          pathType: Prefix