# Deploy to /var/lib/rancher/k3s/server/manifests/traefik-config.yaml
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    metrics:
      prometheus:
        entryPoint: metrics
        addEntryPointsLabels: true
        addServicesLabels: true
        addRoutersLabels: true
    api:
      insecure: false
      dashboard: true
    ports:
      traefik:
        expose: false
      metrics:
        port: 9100
        expose:
          default: true
        exposedPort: 9100
      vector-logs:
        port: 5140
        expose:
          default: false
        exposedPort: 5140
        protocol: UDP
      mqtt:
        port: 8883
        expose: 
          default: false
        exposedport: 8883
      mqtt-insecure:
        port: 1883
        expose:
          default: false
        exposedPort: 1883
      hass:
        port: 8123
        expose:
          default: false
        exposedPort: 8123
      sonos:
        port: 1400
        expose:
          default: false
        exposedPort: 1400
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    logs:
      access:
        enabled: true
