ingress:
  enabled: true
  className: traefik
  tls:
    enabled: true
    secret: tls-certificate

pod:
  kind: Deployment
  env:
    # - name: BASE_DOMAIN
    #   valueFrom:
    #     secretKeyRef:
    #       name: authelia
    #       key: baseDomain
    # - name: JWT_SECRET
    #   valueFrom:
    #     secretKeyRef:
    #       name: authelia
    #       key: jwtSecret
    # - name: OIDC_HMAC_SECRET
    #   valueFrom:
    #     secretKeyRef:
    #       name: authelia
    #       key: identity_validation.reset_password.jwt.hmac.key
    # - name: IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY
    #   valueFrom:
    #     secretKeyRef:
    #       name: authelia
    #       key: oidcPrivateKey
    # - name: SESSION_SECRET
    #   valueFrom:
    #     secretKeyRef:
    #       name: authelia
    #       key: sessionSecret
    # - name: OIDC_PRIVATE_KEY
    #   valueFrom:
    #     secretKeyRef:
    #       name: authelia
    #       key: oidcPrivateKey
    # - name: AUTHELIA_IDENTITY_PROVIDERS_OIDC_CLIENTS_0_SECRET
    #   valueFrom:
    #     secretKeyRef:
    #       name: authelia
    #       key: grafanaClientSecret
    - name: TZ
      value: Europe/Stockholm
  extraVolumeMounts:
    - name: users
      mountPath: /config/users.yaml
      subPath: users.yaml
  extraVolumes:
    - name: users
      secret: { secretName: authelia }

secret:
  existingSecret: authelia

configMap:
  access_control:
    rules:
      - domain: "*.${BASE_DOMAIN}"
        policy: one_factor
  log:
    level: debug

  session:
    cookies:
      - name: authelia_session
        domain: mydomain.com
        authelia_url: https://auth.mydomain.com
        default_redirection_url: https://auth.mydomain.com

  storage:
    local: { enabled: true }

  notifier:
    filesystem: { enabled: true }

  authentication_backend:
    file: { enabled: true, path: /config/users.yaml }

  identity_providers:
    oidc:
      enabled: true
      jwks:
        - key_id: default
          algorithm: RS256
          use: sig