image:
  tag: 4.38.8

ingress:
  enabled: false

pod:
  kind: Deployment
  env:
    - name: BASE_DOMAIN
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: baseDomain
    - name: JWT_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: jwtSecret

    - name: SESSION_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: sessionSecret

    - name: OIDC_PRIVATE_KEY
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: oidcPrivateKey
    - name: TZ
      value: Europe/Stockholm
  extraVolumeMounts:
    - name: users
      mountPath: /config/users.yaml
      subPath: users.yaml
  extraVolumes:
    - name: users
      configMap: { name: authelia-config }

secret:
  existingSecret: authelia-extra

configMap:
  # existingConfigMap: authelia
  theme: dark
  log:
    level: info
  telemetry:
    metrics:
      enabled: true
  
  access_control:
    rules:
      - domain: "*.${BASE_DOMAIN}"
        policy: one_factor

  session:
    cookies: [ { domain: 127.0.0.1 } ]

  storage:
    local: { enabled: true }

  notifier:
    filesystem: { enabled: true }

  authentication_backend:
    refresh_interval: '5m'
    password_reset:
      disable: false
      custom_url: ''
    password_change:
      disable: false
    file:  
      path: '/config/users.yaml'