image:
  tag: 4.38.8

ingress:
  enabled: false

pod:
  kind: Deployment
  env:
    - name: BASE_DOMAIN
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: baseDomain
    - name: JWT_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: jwtSecret

    - name: SESSION_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: sessionSecret

    - name: OIDC_PRIVATE_KEY
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: oidcPrivateKey
    - name: TZ
      value: Europe/Stockholm
 # extraVolumeMounts:
 #   - name: users
 #     mountPath: /config/users.yaml
 #     subPath: users.yaml
 # extraVolumes:
 #   - name: users
 #     configMap: { name: authelia-config }

secret:
  existingSecret: authelia-extra

configMap:
  #existingConfigMap: authelia-config-vvov 
  access_control:
    rules:
      - domain: "*.${BASE_DOMAIN}"
        policy: one_factor
  log_level: debug

  session:
    cookies: [ { domain: 127.0.0.1 } ]

  storage:
    local: { enabled: true }

  notifier:
    filesystem: { enabled: true }

  authentication_backend:
    file: { enabled: true }