image:
  tag: 4.38.8

ingress:
  enabled: false

pod:
  env:
    - name: BASE_DOMAIN
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: baseDomain
    - name: JWT_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: jwtSecret

    - name: SESSION_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: sessionSecret

    - name: OIDC_PRIVATE_KEY
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: oidcPrivateKey

secret:
  existingSecret: authelia-extra

authentication_backend:
  file:
    enabled: true
    path: '/config/users_database.yml'

configMap:
  existingConfigMap: authelia