ingress:
  enabled: true
  className: traefik
  tls:
    enabled: true
    secret: tls-certificate

pod:
  kind: Deployment
  env:
    - name: BASE_DOMAIN
      valueFrom:
        secretKeyRef:
          name: authelia
          key: baseDomain
    - name: JWT_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia
          key: jwtSecret

    - name: SESSION_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia
          key: sessionSecret

    - name: OIDC_PRIVATE_KEY
      valueFrom:
        secretKeyRef:
          name: authelia
          key: oidcPrivateKey
    - name: TZ
      value: Europe/Stockholm
  extraVolumeMounts:
    - name: users
      mountPath: /config/users.yaml
      subPath: users.yaml
  extraVolumes:
    - name: users
      secret: { secretName: authelia }

secret:
  existingSecret: authelia

configMap:
  access_control:
    rules:
      - domain: "*.${BASE_DOMAIN}"
        policy: one_factor
  log:
    level: debug

#  session:
#    cookies: [ { domain: 127.0.0.1 } ]
session:
  secret: ${SESSION_SECRET}

  cookies:
    - name: authelia_session
      domain: ${BASE_DOMAIN}
      authelia_url: https://auth.${BASE_DOMAIN}
      default_redirection_url: https://auth.${BASE_DOMAIN}

  storage:
    local: { enabled: true }

  notifier:
    filesystem: { enabled: true }

  authentication_backend:
    file: { enabled: true, path: /config/users.yaml }