image:
  tag: 4.38.8

ingress:
  enabled: false

pod:
  env:
    - name: BASE_DOMAIN
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: baseDomain
    - name: JWT_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: jwtSecret

    - name: SESSION_SECRET
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: sessionSecret

    - name: OIDC_PRIVATE_KEY
      valueFrom:
        secretKeyRef:
          name: authelia-extra
          key: oidcPrivateKey
    - name: TZ
      value: Europe/Stockholm
  extraVolumeMounts:
    - name: users
      mountPath: /config/users.yaml
      subPath: users.yaml
  extraVolumes:
    - name: users
      configMap: { name: authelia }

secret:
  existingSecret: authelia-extra

configMap:
  existingConfigMap: authelia
  log:
    level: info
  telemetry:
    metrics:
      enabled: true
  
  authentication_backend:
    file:
      enabled: true
      path: '/config/users.yaml'