ingress:
  enabled: true
  className: traefik
  tls:
    enabled: true
    secret: tls-certificate

pod:
  kind: Deployment
  env:
    - name: TZ
      value: Europe/Stockholm
  extraVolumeMounts:
    - name: users
      mountPath: /config/users.yaml
      subPath: users.yaml
    - name: users
      mountPath: /config/users.yaml
      subPath: users.yaml
  extraVolumes:
    - name: users
      secret: { secretName: authelia }

secret:
  existingSecret: authelia

configMap:
  access_control:
    rules:
      - domain: "*.mydomain.com"
        policy: one_factor
  log:
    level: debug

  session:
    cookies:
      - name: authelia_session
        domain: mydomain.com
        authelia_url: https://auth.mydomain.com
        default_redirection_url: https://auth.mydomain.com

  storage:
    local: { enabled: true }

  notifier:
    filesystem: { enabled: true }

  authentication_backend:
    file: { enabled: true, path: /config/users.yaml }

  identity_providers:
    oidc:
      enabled: true
      jwks:
        - key_id: default
          algorithm: RS256
          use: sig
          key: { path: /secrets/authelia/oidc.pem }