apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia
  namespace: common
data:
  configuration.yaml: |
    theme: dark

    access_control:
      rules:
        - domain: "*.${BASE_DOMAIN}"
          policy: one_factor

    server:
      address: tcp://0.0.0.0:9091

    identity_validation:
      reset_password:
        jwt_secret: ${JWT_SECRET}

    session:
      secret: ${SESSION_SECRET}

      cookies:
        - name: authelia_session
          domain: ${BASE_DOMAIN}
          authelia_url: https://auth.${BASE_DOMAIN}
          default_redirection_url: https://auth.${BASE_DOMAIN}