apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia
  namespace: common
data:
  configuration.yaml: |
    theme: dark

    access_control:
      rules:
        - domain: "*.${BASE_DOMAIN}"
          policy: one_factor

    server:
      address: tcp://0.0.0.0:9091

    storage:
      postgres:
        address: tcp://postgres:5432
        database: authelia
        username: authelia
        password: ${POSTGRES_PASSWORD}
  users.yaml: |
    users:
      john:
        disabled: false
        displayname: 'John Doe'
        password: '$argon2id$v=19$m=65536,t=3,p=2$BpLnfgDsc2WD8F2q$o/vzA4myCqZZ36bUGsDY//8mKUYNZZaR0t4MFFSs+iM'
        email: 'john.doe@authelia.com'
        groups:
          - 'admins'
          - 'dev'