apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true 
      - ServerSideApply=true
  project: infrastructure
  sources:
    - chart: prometheus
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 25.0.0
      helm:
        releaseName: prometheus
        values: |
          alertmanager:
            enabled: false

          prometheus-pushgateway:
            enabled: false

          prometheus-node-exporter:
            enabled: false

          kubeStateMetrics:
            enabled: true

          server:  
            extraArgs:
              query.max-concurrency: 5
            resources:
              requests:
                cpu: 100m
                memory: 384Mi
              limits:
                memory: 1Gi
            persistentVolume:
              enabled: false

            service:
              type: ClusterIP

            retention: "2d"

            nodeSelector:
              node-role.kubernetes.io/control-plane: "true"

            tolerations:
              - key: "node-role.kubernetes.io/control-plane"
                operator: "Exists"
                effect: "NoSchedule"

          extraScrapeConfigs: |
            - job_name: 'traefik'
              static_configs:
                - targets:
                    - traefik.kube-system.svc.cluster.local:9100