apiVersion: v1
kind: ConfigMap
metadata:
  name: dex-config
  namespace: auth
data:
  config.yaml: |
    issuer: https://mydomain.com

    storage:
      type: memory

    web:
      http: 0.0.0.0:5556

    connectors:
      - type: oidc
        id: google
        name: Google
        config:
          issuer: https://accounts.google.com
          clientID: ${GOOGLE_CLIENT_ID}
          clientSecret: ${GOOGLE_CLIENT_SECRET}
          redirectURI: https://mydomain.com/callback

      - type: ldap
        id: ldap
        name: LDAP
        config:
          host: lldap.auth.svc.cluster.local:389
          insecureNoSSL: true
          bindDN: "uid=admin,ou=people,dc=home,dc=mydomain,dc=nu"
          bindPW: ${LDAP_BIND_PASSWORD}

          userSearch:
            baseDN: "ou=people,dc=home,dc=mydomain,dc=nu"
            filter: "(mail={0})"
            username: uid
            idAttr: uid
            emailAttr: mail
            nameAttr: cn

          groupSearch:
            baseDN: "ou=groups,dc=home,dc=mydomain,dc=nu"
            filter: "(objectClass=groupOfNames)"
            userMatchers:
              - userAttr: DN
                groupAttr: member
            nameAttr: cn

    staticClients:
      - id: argocd
        redirectURIs:
          - https://argocd.mydomain.com/auth/callback
        name: Argo CD
        secret: ${ARGOCD_CLIENT_SECRET}